{% extends "base.html" %}

{% block title %}: {{ path }}{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-modelist.js"></script>

<script src="/static/scripts/files.js" charset="utf-8"></script>
<script src="/static/scripts/edit.js" charset="utf-8"></script>

{% endblock %}

{% block menu %}
<div id="menu">
  
  <a href="/{{ path }}">view</a> | 
  <a href="#" onclick="save(); return false;">save</a> |
  <a href="#" onclick="rename(); return false;">rename</a> |
  <a href="#" onclick="del('file'); return false;">delete</a>
  <hr>

</div>
{% endblock %}


{% block content %}

<h3 id="file_header">{{ path }} <span id="save_message"></span></h3>

  <div id="editor">{{ content }}</div>

{% endblock %}
